.popup-login-block {
  display: none;
  position: fixed;
  z-index: 10000;
  padding-block-start: 6.25rem;
  padding-block-end: 6.25rem;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-login-block-inner {
  color: var(--r-tx);
  background-color: var(--r-bg);
  max-width: 900px !important;
  margin-inline: auto;
  margin-block: 0;
  padding: calc(2 * var(--solo-px16));
  height: auto !important;
}

.login-button-close button {
  color: var(--r-tx-bt);
  background-color: var(--r-bg-bt);
  padding: 0 !important;
}

.block-user-login-block .item-list ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.block-user-login-block .item-list ul li {
  margin-block: 5px;
  margin-inline: auto;
}

.login-button-open {
  display: flex;
  height: 100%;
  float: inline-end;
}

.login-button-open button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.563rem;
  padding-inline: var(--solo-px16);
  min-width: 5.75rem;
  color: var(--r-tx-bt);
  background-color: var(--r-bg-bt);
  line-height: 1.5;
  font-size: var(--solo-px16);
}
